.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.active {
  color: red;
}

.answer {
  border: 1px solid blue;
}

table {
  text-align: center;
  border-collapse: collapse;
  border-right: 2px solid black;
  width: 100px;
}

.top-row {
  color: aqua;
}

td {
  font-size: 1.5rem;
  width: 24px;
}

.break {
  height: 0%;
  flex-basis: 100%;
}