.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100px;

}

tr {
  border-right: 1px solid black;
}

td {
  font-size: 1.5rem;
}

.break {
  height: 0%;
  flex-basis: 100%;
}